<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.gov.fenipaurashava">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApnarJelaProsasok"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity_admin.WorkScheduleEditDeleteActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.EditorWorkScheduleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_user.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_admin.WorkScheduleShowActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.WorkScheduleDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.CitizenServiceCountActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.AppointmentListFetchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".departmentUser.activites.DepartmentListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".departmentAdmin.activites.DepartmentAdminActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".departmentAdmin.activites.DepartmentAdminListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.AdminCurdEmployeeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.ComplainSubjectListFetchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.ComplainSubjectEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AdminCurdEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.SendMessageForAppintmentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AdminEmployeeForAppoinmentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.SetInformationListFetchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.SendMessageForSetInformationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.SetInformationDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.WorkScheduleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AdminEmployeeActivityForComplainRef"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.SendMessageForComplainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AdminEmployeeActivityForSetInformationRef"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AppointmentSubjectEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.ComplainListFetchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.AppointmentSubjectListFetchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.EmployeeSaveActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_admin.AdminDashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.AdminLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_user.AppointmentOfMayorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_user.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.MayorMessageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.UserDashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.AboutJelaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.WorkScheduleUserActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_user.SetInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_user.ComplainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity_user.EmployeeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity_admin.AdminEmployeeActivityList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".jonyAppModule.SeeMoreApplicationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".jonyAppModule.useractivity.ApplicationFormActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".jonyAppModule.Scanner"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".jonyAppModule.ApplyAndCertificateVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />
    </application>

</manifest>